<h1 style="color: white; text-align: center;padding-top:28px;">About</h1>

<p style="color: white; text-align: center;padding-top: 14;">
    The mathematical problems on the solutions page are taken from <a target="_blank" rel="noopener"
        href="https://projecteuler.net/about" style="white-space: nowrap;">Project Euler</a>.
    Click on a problem id to see the detailed explanation. Click on compute to let the solution be computed in
    real-time.
    Note that the first computation you do could take about 10 seconds, because the server is sleeping if it has not
    done anything in the past 30 minutes.
</p>

<div style="display: flex;justify-content: center;align-content: center;">
    <img class="rabbit-image" src="assets/rabbit_behind_laptop.jpg" width="240" height="240">
</div>