.compute-all-button {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.solutions-component-title {
    color: white; 
    text-align: center;
    padding-top:28px;
}