.solution-card {
    width: 130px;
    height: 170px;
    text-align: center;
    padding: 5px;
  }

.mat-card-header {
    display: block; 
}

.show-solution-or-spinner {
  font-size: smaller;
  display: flex;
  align-items: center;
  justify-content: center;
}